.fp-section {
    position: relative;
    box-sizing: border-box;
    height: 800px;
}

.fp-section.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.iframe {
    position: relative;
}

.bg,
.stay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 5;
    width: 10%;
    cursor: pointer;
}

.fullpage img {
    display: none;
}

.section img {
    position: absolute;
    left: 50%;
}

#s1p1 {
    margin-left: -46%;
    width: 22%;
    top: 36%;
}

#s1p2 {
    margin-left: -50%;
    width: 100%;
    bottom: 13%;
}

#s1p3 {
    margin-left: -16%;
    width: 35%;
    bottom: 12%;
}

#f1p1 {
    margin-left: -41%;
    width: 82%;
    top: 14%;
}

#f2p1 {
    margin-left: -35%;
    width: 70%;
    top: 6%;
    cursor: pointer;
}

#f2p2 {
    margin-left: -35%;
    width: 70%;
    top: 17%;
    cursor: pointer;
}

#f2p3 {
    margin-left: -35%;
    width: 70%;
    top: 27%;
    cursor: pointer;
}

#f3p1 {
    margin-left: -39%;
    width: 78%;
    top: 4%;
}

#f3p2 {
    margin-left: -50%;
    width: 100%;
    top: 33%;
}

#f3p3 {
    margin-left: -39%;
    width: 79%;
    bottom: 25%;
}

#f3p4 {
    margin-left: -50%;
    width: 100%;
    bottom: 4%;
}

#f4p1 {
    margin-left: -45%;
    width: 34%;
    top: 3%;
}

#f4p2 {
    margin-left: -38%;
    width: 19%;
    top: 12%;
}

#f4p3 {
    margin-left: -9%;
    width: 50%;
    top: 15%;
}

#f4p4 {
    margin-left: 24%;
    width: 15%;
    top: 10%;
}

#f4p5 {
    margin-left: 2%;
    width: 18%;
    top: 7%;
}

#f4p6 {
    margin-left: 4%;
    width: 23%;
    top: 24%;
}

#f4p7 {
    margin-left: -23%;
    width: 48%;
    top: 39%;
}

#f4p8 {
    margin-left: -50%;
    width: 100%;
    bottom: 3%;
}

#f5p1 {
    margin-left: -22%;
    width: 44%;
    top: 3%;
}

#f5p2 {
    margin-left: -34%;
    width: 70%;
    top: 12%;
}

#f5p3 {
    margin-left: -32%;
    width: 52%;
    top: 23%;
}

#f5p4 {
    margin-left: -50%;
    width: 100%;
    bottom: 12%;
}

#f5p5 {
    margin-left: 20%;
    width: 20%;
    bottom: 43%;
}

#f5p6 {
    margin-left: -13%;
    width: 28%;
    top: 39%;
}

#f5p7 {
    margin-left: -39%;
    width: 77%;
    bottom: 4%;
}

#f5p8 {
    margin-left: 23%;
    width: 21%;
    bottom: 11%;
}

#f5p9 {
    margin-left: -48%;
    width: 10%;
    bottom: 1%;
    cursor: pointer;
}

#f6p1 {
    margin-left: -35%;
    width: 17%;
    top: 9%;
}

#f6p2 {
    margin-left: -50%;
    width: 100%;
    top: 15%;
}

#f6p3 {
    margin-left: -39%;
    width: 22%;
    bottom: 11%;
}

#f6p4 {
    margin-left: 14%;
    width: 27%;
    bottom: 11%;
}

#f7p1 {
    margin-left: -25%;
    width: 42%;
    bottom: 11%;
}

#f7p2 {
    margin-left: -50%;
    width: 100%;
    bottom: 34%;
}

#f7p3 {
    margin-left: 13%;
    width: 22%;
    bottom: 62%;
}

#f7p4 {
    margin-left: -49%;
    width: 36%;
    bottom: 11%;
}

#f7p5 {
    margin-left: -2%;
    width: 49%;
    bottom: 74%;
}

#f7p6 {
    margin-left: 6%;
    width: 39%;
    bottom: 22%;
}

#f8p1 {
    margin-left: -22%;
    width: 35%;
    bottom: 10%;
}

#f8p2 {
    margin-left: -50%;
    width: 100%;
    bottom: 18%;
}

#f8p3 {
    margin-left: -42%;
    width: 21%;
    bottom: 71%;
}

#f8p4 {
    margin-left: 3%;
    width: 44%;
    bottom: 46%;
}

#f8p5 {
    margin-left: 2%;
    width: 47%;
    bottom: 55%;
}

#f8p6 {
    margin-left: -16%;
    width: 13%;
    bottom: 86%;
}

#f9p1 {
    margin-left: -22%;
    width: 40%;
    bottom: 10%;
}

#f9p2 {
    margin-left: -50%;
    width: 100%;
    bottom: 12%;
}

#f9p3 {
    margin-left: -41%;
    width: 21%;
    bottom: 53%;
}

#f9p4 {
    margin-left: 3%;
    width: 34%;
    bottom: 16%;
}

#f9p5 {
    margin-left: -50%;
    width: 40%;
    bottom: 71%;
}

#f9p6 {
    margin-left: -3%;
    width: 15%;
    bottom: 89%;
}

#f9p7 {
    margin-left: -48%;
    width: 10%;
    bottom: 1%;
    cursor: pointer;
}

#f10p1 {
    margin-left: -45%;
    width: 90%;
    top: 4%;
}

#f10p2 {
    margin-left: -37%;
    width: 73%;
    top: 19%;
}

#f10p3 {
    margin-left: -45%;
    width: 24%;
    top: 26%;
}

#f10p4 {
    margin-left: -8%;
    width: 23%;
    top: 27%;
}

#f10p5 {
    margin-left: 27%;
    width: 18%;
    top: 27%;
}

#f10p6 {
    margin-left: -45%;
    width: 85%;
    bottom: 7%;
}

#f11p1 {
    margin-left: -45%;
    width: 18%;
    top: 4%;
}

#f11p2 {
    margin-left: -43%;
    width: 86%;
    top: 10%;
}

#f11p3 {
    margin-left: -45%;
    width: 18%;
    top: 37%;
}

#f11p4 {
    margin-left: -46%;
    width: 42%;
    top: 42%;
}

#f11p5 {
    margin-left: -3%;
    width: 53%;
    top: 43%;
}

#f11p6 {
    margin-left: -27%;
    width: 55%;
    bottom: 35%;
}

#f11p7 {
    margin-left: -50%;
    width: 100%;
    bottom: 5%;
}

#f12p1 {
    margin-left: -45%;
    width: 18%;
    top: 4%;
}

#f12p2 {
    margin-left: -47%;
    width: 45%;
    top: 10%;
}

#f12p3 {
    margin-left: 1%;
    width: 41%;
    top: 13%;
}

#f12p4 {
    margin-left: -46%;
    width: 92%;
    top: 32%;
}

#f12p5 {
    margin-left: -45%;
    width: 94%;
    bottom: 14%;
}

#f12p6 {
    margin-left: -36%;
    width: 71%;
    bottom: 3%;
}

#f13p1 {
    margin-left: -50%;
    width: 100%;
    top: 0;
}

#f13p2 {
    margin-left: -31%;
    width: 64%;
    top: 8%;
}

#f13p3 {
    margin-left: -29%;
    width: 59%;
    top: 29%;
}

#f13p4 {
    margin-left: -35%;
    width: 70%;
    top: 45%;
}

#f13p5 {
    margin-left: -37%;
    width: 73%;
    bottom: 35%;
}

#f13p6 {
    margin-left: -50%;
    width: 100%;
    bottom: 0;
}

#f13p7 {
    margin-left: -48%;
    width: 10%;
    bottom: 1%;
    cursor: pointer;
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 1s;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 1s;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    animation-duration: 1s;
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-duration: 1s;
}